ion-toolbar {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;

  --background: transparent;
  --color: white;
}

ion-toolbar ion-button,
ion-toolbar ion-back-button,
ion-toolbar ion-menu-button {
  --color: white;
}

.about-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  background: var(--ion-color-primary-shade);
}

.about-header {
  position: relative;

  width: 100%;
  height: 30%;
}

.about-header .about-image {
  position: absolute;

  top: 50%;
  left: 50%;
  bottom: 0;
  right: 0;

  transform: translate(-50%, -50%);

  height: 80%;

  border-radius: 100%;

  user-select: none;
  pointer-events: none;
  
  border: 6px solid var(--ion-background-color, #fff);

  @media screen and (min-width : 568px) {
    & {
      border: 9px solid var(--ion-background-color, #fff);
    }
  }
  @media screen and (min-width : 990px) {
    & {
      border: 12px solid var(--ion-background-color, #fff);
    }
  }
}


.about-info {
  position: absolute;
  min-height: 70%;
  margin: 0 3px 0 3px;
  padding: 12px 3px 12px 3px;
  border-radius: 32px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: var(--ion-background-color, #fff);

  @media screen and (min-width : 568px) {
    & {
      margin: 0 6px 0 6px;
      padding: 12px 6px 12px 6px;
    }
  }
  @media screen and (min-width : 990px) {
    & {
      margin: 0 32px 0 32px;
      padding: 16px;
    }
  }

  h3 {
    margin-top: 0;
  }

  ion-list {
    padding-top: 0;
  }

  p {
    white-space: pre-line;

    line-height: 150%;
    letter-spacing: 1px;

    color: var(--ion-color-dark);
  }

  ion-icon {
    margin-inline-end: 32px;
  }

  ion-list {
    background: transparent;
  }
}

/*
 * iOS Only
 */

.ios .about-info {
  --ion-padding: 19px;
}

.ios .about-info h3 {
  font-weight: 700;
}
