<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="start">
          <ion-icon name="person-outline"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button menu="end">
          <ion-icon name="at"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="about-bg">
  </div>

  <div class="about-header">
    <img class="about-image" src="assets/img/me_square.jpg" alt="Photo of Celilsemi Sam Erkiner" />
  </div>

  <div class="about-info">

    <p class="ion-padding-start ion-padding-end">
      As a full-stack software engineer, I've developed over 50 applications for mobile, smartwatch, and web platforms,
      showcasing a deep passion for hybrid apps and cross-platform development. This experience has honed my expertise in
      various technologies and programming languages, enhancing user experiences through seamless integration. Currently, my
      focus includes AI and generative models like GPT, enriching both my advanced projects and open-source contributions.
      <br>
      <br>
      In the entrepreneurial space, I co-founded re-mint, a venture revolutionizing e-commerce through branded resale, backed
      by Y Combinator. This initiative aims to profitably transition premium brands to circularity. Additionally, I
      established Feather, supported by Antler, and BookByt.es, showcasing my full-stack development and innovation skills.
      Although Feather and BookByt.es are no longer active, they highlight my adaptability in the tech industry.
      <br>
      <br>
      Beyond my professional and entrepreneurial achievements, I actively contribute to the tech community, volunteering with
      SheCodes Australia to promote women in technology. Additionally, I have made contributions to open-source
      projects, particularly in the Ionic, Angular frameworks and others. My successes in international hackathons, including
      first-place finishes in Macedonia and Microsoft Openness Ideas, further underline my dedication to technological
      innovation and commitment to societal betterment.
    </p>


  </div>
</ion-content>
