ion-toolbar {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;

  --background: transparent;
  --color: white;
}

ion-toolbar ion-button,
ion-toolbar ion-back-button,
ion-toolbar ion-menu-button {
  --color: white;
}

.about-bg {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  transform: translate3d(0,0,0);
  
  opacity: 0.85;

  background: linear-gradient(0deg,
  var(--ion-color-primary-shade, #3880ff),
  var(--ion-color-primary-tint, #3880ff),
  var(--ion-color-primary-shade, #3880ff),
  );
  background-size: 200% 200%;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: .2s;
  animation-duration: 8s;
  animation-name: pulse;
}



@keyframes pulse {
    10% {background-position:9% 0%}
    50% {background-position:92% 100%}
    90% {background-position:9% 0%}
}

.about-header {
  position: relative;

  width: 100%;
  height: 30%;
}

.about-header .about-image {
  position: absolute;

  top: 50%;
  left: 50%;
  bottom: 0;
  right: 0;

  transform: translate(-50%, -50%);

  height: 80%;

  border-radius: 100%;

  user-select: none;
  pointer-events: none;
  
  border: 6px solid var(--ion-background-color, #fff);

  @media screen and (min-width : 568px) {
    & {
      border: 9px solid var(--ion-background-color, #fff);
    }
  }
  @media screen and (min-width : 990px) {
    & {
      border: 12px solid var(--ion-background-color, #fff);
    }
  }
}


.about-info {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: calc(100% - 32px);
  padding: 3px 6px;
  margin: 0 0 16px 0;
  border-radius: 32px;
  background: var(--ion-background-color, #fff);

  @media screen and (min-width : 568px) {
    & {
      width: calc(100% - 48px);
      padding: 6px 9px;
    }
  }
  @media screen and (min-width : 990px) {
    & {
      max-width: 640px;
      padding: 12px 16px;
    }
  }

  h3 {
    margin-top: 0;
  }

  ion-list {
    padding-top: 0;
  }

  p {
    white-space: pre-line;

    line-height: 150%;
    letter-spacing: 1px;

    color: var(--ion-color-dark);
  }

  ion-icon {
    margin-inline-end: 32px;
  }

  ion-list {
    background: transparent;
  }
}

/*
 * iOS Only
 */

.ios .about-info {
  --ion-padding: 19px;
}

.ios .about-info h3 {
  font-weight: 700;
}
