<ion-app [class.dark-theme]="dark">
  <ion-split-pane contentId="main-content">

    <ion-menu side="start" contentId="main-content">
      <ion-content>

        <ion-list lines="none">
          <ion-list-header>
            About Sam
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                Celilsemi Sam Erkiner
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item button detail="false">
              <ion-icon slot="start" name="at-circle"></ion-icon>
              <ion-label>
                cerkiner
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item button detail="false">
              <ion-icon slot="start" name="briefcase"></ion-icon>
              <ion-label>
                Software Engineer
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item button detail="false">
              <ion-icon slot="start" name="star"></ion-icon>
              <ion-label>
                Web/Hybrid Apps
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item button detail="false">
              <ion-icon slot="start" name="location"></ion-icon>
              <ion-label>
                Sydney, Australia
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item button detail="false">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>
                Eskişehir, Turkey
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

    <ion-menu side="end" contentId="main-content" dir="rtl">
      <ion-content>
        <ion-list lines="none">
          <ion-list-header>
            Professional
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="openUrl('https://celilsemi.erkiner.com/blog')" detail="false">
              <ion-icon slot="start" name="logo-wordpress"></ion-icon>
              <ion-label>
                Blog
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="openUrl('https://www.linkedin.com/in/cerkiner')" detail="false">
              <ion-icon slot="start" name="logo-linkedin"></ion-icon>
              <ion-label>Linkedin</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="openUrl('https://stackoverflow.com/story/cerkiner')" detail="false">
              <ion-icon slot="start" name="logo-stackoverflow"></ion-icon>
              <ion-label>StackOverflow</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="openUrl('https://github.com/cerkiner')" detail="false">
              <ion-icon slot="start" name="logo-github"></ion-icon>
              <ion-label>Github</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list lines="none">
          <ion-list-header>
            Social
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="openUrl('https://www.facebook.com/cerkiner')" detail="false">
              <ion-icon slot="start" name="logo-facebook"></ion-icon>
              <ion-label>Facebook</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="openUrl('https://instagram.com/cerkiner')" detail="false">
              <ion-icon slot="start" name="logo-instagram"></ion-icon>
              <ion-label>Instagram</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="openUrl('https://twitter.com/cerkiner')" detail="false">
              <ion-icon slot="start" name="logo-twitter"></ion-icon>
              <ion-label>Twitter</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- <ion-list lines="none">
          <ion-list-header>
            Settings
          </ion-list-header>
          <ion-item>
            <ion-icon slot="start" name="moon-outline"></ion-icon>
            <ion-label>
              Dark Mode
            </ion-label>
            <ion-toggle [(ngModel)]="dark"></ion-toggle>
          </ion-item>
        </ion-list> -->
      </ion-content>
    </ion-menu>

  </ion-split-pane>

</ion-app>
